<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HomePage</title>
</head>
<body>
<div><h1>Welcome to Vivek E-Passport Seva India </h1></div>
    <div >
        <ul >
            <li  style="list-style: none; margin: 20px;" ><a href="/">Home</a></li>
            <li  style="list-style: none; margin: 20px;" ><a href="/AdminLogin">Admin-Login</a></li>
            <li  style="list-style: none; margin: 20px;" ><a href="/UserLogin">User-Login</a></li>
        </ul>
    </div>
</body>
</html>
     
